<h1>Posts</h1>
<%= button_to "logout", destroy_user_session_path, method: :delete  %>

<p>User:<%= @user.email if @user == current_user %></p>

<% @posts.each do |post|%>
<div><%= post.title%></div>
<div><%= post.body%></div>
<% end %>
