<h1>Dashboard</h1>
<%= button_to "logout", destroy_user_session_path, method: :delete  %>

<%= @user.email %>

<% @posts.each do |post|%>
<div><%= post.title%></div>
<div><%= post.body%></div>
<% end %>
